.user-form {
	.caption {
		color: blue;
		font-weight: bold;
	}
}
.user-greeting {
	font-weight: bold;
}

.portlet-title-text {
	display: none !important;
}

.portlet-layout {
	.portlet-header {
		margin-bottom: 0 !important;
	}
}